BU PROJEDE NETFLIX'İN İLGİ ALANLARINA GÖRE DİZİ VE FİLM ÖNERİLERİ SUNMA İŞİNİ NASIL YAPTIĞINI BASİT ŞEKLİYLE YAPMAYA ÇALIŞACAĞIZ.

In [40]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
data=pd.read_csv('netflixData.csv')

In [23]:
data.head()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [24]:
#BOŞ OLAN SÜTUNLARI KONTROL EDİYORUZ.
data.isnull().sum()

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [25]:
#BOŞ OLDUĞUNU GÖRDÜĞÜMÜZ SÜTUNLARI DATADAN ÇIKARIP SADECE DOLU OLANLARI ALIYORUZ.
data = data[["Title", "Description", "Content Type", "Genres"]]

In [26]:
data.head()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"

In [27]:
import nltk
import re
import string

In [28]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PC\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [29]:
from nltk.corpus import stopwords

In [30]:
stemmer = nltk.SnowballStemmer('english')
stopword = set(stopwords.words('english'))

In [32]:
def clean_text(text):
    text = str(text).lower() # harfleri küçültüyor.
    text = re.sub('/[.*?/]','',text) # mesela "[örnek]" ifadesini köşeli parantezlerde dahil olmak üzere tamamen siliyor. 
    text = re.sub('https?://\S+|www\.\S+','',text) # 'http veya https veya www ile başlayan tüm internet adreslerini siliyor.'
    text = re.sub('<.*?>+','',text) # html ifadeleri siliyor '<örnek>'
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text) #tüm noktalama işaretlerini siliyor. % ifadesi sağdaki noktalama işaretlerini soldaki köşeli parantezin içine almaya yarıyor.
    text = re.sub('\n', '', text) #'/n' ifadesi varsa siliyor kelime içerisinde.
    text = re.sub('\w*\d\w*', '', text) #içerisinde rakam olan kelimeleri yakalayıp siliyor.
    text = [word for word in text.split(' ') if word not in stopword] # text'i parçalıyor ve stop words varsa siliyor.
    text=" ".join(text) #stopwords silindikten sonra tekrar texti birleştiriyor.
    text = [stemmer.stem(word) for word in text.split(' ')] #text'i tekrar ayırıyıyor ve köklerini bularak liste yapıyor.
    text=" ".join(text) #kökler bulunduktan sonra listeyi tekrar string hale getirip birleştiriyor.
    return text # texti döndürüyor.

In [33]:
data['Title'] = data['Title'].apply(clean_text)

In [35]:
data['Title'].sample(8)

4784                  discoveri
2643                     lavend
3622               paquita sala
1536                evil genius
721     bling empir  afterparti
2944                       mank
2651        leagu legend origin
5126                 politician
Name: Title, dtype: object

In [49]:
tür_list = data['Genres'].tolist() # GENRES SÜTUNUNU LİSTEYE ÇEVİRDİK.

In [50]:
print(tür_list[:5]) # listenin ilk 5 elemanını yazdırdık.

['Reality TV', 'Horror Movies, International Movies, Thrillers', 'Documentaries, International Movies', 'TV Comedies', 'Documentaries, International Movies']

In [51]:
vect = TfidfVectorizer(stop_words='english')

In [52]:
tür_list_vect = vect.fit_transform(tür_list)

In [54]:
print(vect.get_feature_names_out()) # Burada yukarıda dönüştürdüğümüz sparse matrisinin sütunlarını yani tüm veride geçen benzersiz kelimeler listesini görüyoruz.

['action' 'adventure' 'anime' 'british' 'children' 'classic' 'comedies'
 'comedy' 'crime' 'cult' 'documentaries' 'docuseries' 'dramas' 'faith'
 'family' 'fantasy' 'features' 'fi' 'horror' 'independent' 'international'
 'kids' 'korean' 'language' 'lgbtq' 'movies' 'music' 'musicals'
 'mysteries' 'nature' 'reality' 'romantic' 'sci' 'science' 'series'
 'shows' 'spanish' 'spirituality' 'sports' 'stand' 'talk' 'teen'
 'thrillers' 'tv']

In [56]:
print(tür_list_vect[0].toarray()) # dönüşüm yapmadan önce listemizin ilk ögesi 'Reality TV' idi. Bunu aşağıdaki şekilde bir matrise dönüştürmüş olduk.
                                  # Bunu tüm liste öğeleri için yaptık

[[0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.9064114  0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.42239599]]

In [58]:
#Aşağıda yazan kod ile her dökümanın bir sonrki ile benzerliklerini ölçtük ve bir döküman * döküman matrisi elde ettik.
#MESELA AŞAĞIDA ÖRNEK BİR TABLO VAR.
#Doc4 ile Doc1 in benzerlik oranı 0.3 
"""|          | Doc1 | Doc2 | Doc3 | Doc4 | Doc5 |
   | -------- | ---- | ---- | ---- | ---- | ---- |
   | **Doc1** | 1.0  | 0.1  | 0.0  | 0.3  | 0.0  |
   | **Doc2** | 0.1  | 1.0  | 0.8  | 0.0  | 0.8  |
   | **Doc3** | 0.0  | 0.8  | 1.0  | 0.0  | 1.0  |
   | **Doc4** | 0.3  | 0.0  | 0.0  | 1.0  | 0.0  |
   | **Doc5** | 0.0  | 0.8  | 1.0  | 0.0  | 1.0  |"""

similarity = cosine_similarity(tür_list_vect)

In [59]:
#burada data içerisinde ki başlıklar ile indexlerin yeri değişiyor yani indexler başilıkların olduğu sütuna başlıklar index yerine geçiyor.
indices = pd.Series(data.index, index=data['Title']).drop_duplicates()

In [71]:
indices[:5] # ilk 5 satır aşağıdaki şekilde

Title
unwel                        0
aliv                         1
annefrank  parallel stori    2
blackaf                      3
catsthemewvi                 4
dtype: int64

In [78]:
#AŞAĞIDAKİ FONKSİYON İLE YAZILAN FİLME BENZER 10 FİLMİ SIRALIYORUZ.
def netFlix_recommendation(title, similarity = similarity):
    index = indices[title]
    similarity_scores = list(enumerate(similarity[index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[0:10]
    movieindices = [i[0] for i in similarity_scores]
    return data['Title'].iloc[movieindices]

print(netFlix_recommendation("aliv"))

1                      aliv
178                  aaviri
360            andhaghaaram
361             andhakaaram
398                  apostl
1759     game hindi version
1760     game tamil version
1761    game telugu version
1801              ghost lab
1804            ghost stori
Name: Title, dtype: object