In [41]:
import pandas as pd
import keras
import numpy as np

In [9]:
data = pd.read_csv('emotions.txt', sep=';', header=None)

In [10]:
data.head()

                                                   0        1
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [11]:
data.columns=['Text','Emotions']

In [12]:
data.head()

                                                Text Emotions
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [13]:
data.isnull().sum()

Text        0
Emotions    0
dtype: int64

In [15]:
#6 ADET SINIFIMIZ VAR.
data['Emotions'].value_counts()

joy         5362
sadness     4666
anger       2159
fear        1937
love        1304
surprise     572
Name: Emotions, dtype: int64

In [19]:
#DATAFRAME DE OLAN SATIRLARI LİSTE ŞEKLİNE GETİRDİK.
texts = data['Text'].to_list()
labels = data['Emotions'].to_list()

In [20]:
from keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [21]:
#TEXTS LİSTESİNDEKİ ELEMANLARI(CÜMLELERİ) TOKENİZE ETTİK
tokenizer = Tokenizer()
tokenizer.fit_on_texts(texts)

In [24]:
#AŞAĞIDAKİ KOD İLE TOKENİZE ETTİĞİMİZ TEXTS LİSTESİNDEKİ ELEMANLARI(CÜMLELERİ) SAYIYA ÇEVİRDİK VE PAD_SEQUENCES İLE TÜM KELİMELERİ AYNI UZUNLUĞA GETİRDİK.
sequence = tokenizer.texts_to_sequences(texts)
max_length = max([len(seq) for seq in sequence])
sequences = pad_sequences(sequence, maxlen=max_length)

In [26]:
from sklearn.preprocessing import LabelEncoder

In [28]:
#EMOTIONS SÜTUNUNDA BULUNAN VERİLERİ ENCODE ETTİK
encoder = LabelEncoder()
label_encode = encoder.fit_transform(labels)

In [32]:
one_hot_labels = keras.utils.to_categorical(label_encode)

In [33]:
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Embedding, Flatten, Dense

In [34]:
xtrain, xtest, ytrain, ytest = train_test_split(sequences,one_hot_labels,test_size=0.2,random_state=25)

In [36]:
#MODELİMİZİ TANIMLADIK.
model = Sequential()
model.add(Embedding(input_dim=len(tokenizer.word_index)+1, output_dim=128, input_length=max_length))
model.add(Flatten()) # 2D VEKTÖRÜ TEK BOYUTLU HALE GETİRMEK İÇİN KULLANDIK.
model.add(Dense(units=128, activation="relu"))
model.add(Dense(6, activation="softmax")) # BURADA 6 TANE SINIFIMIZ OLDUĞU İÇİN 6 YAZDIK.

model.compile(optimizer="adam", loss="categorical_crossentropy", metrics=["accuracy"])

In [37]:
model.fit(xtrain, ytrain, epochs=10, batch_size=32, validation_data=(xtest, ytest))

Epoch 1/10
400/400 [==============================] - 5s 11ms/step - loss: 1.3482 - accuracy: 0.4916 - val_loss: 0.8736 - val_accuracy: 0.7172
Epoch 2/10
400/400 [==============================] - 4s 11ms/step - loss: 0.3595 - accuracy: 0.8895 - val_loss: 0.5632 - val_accuracy: 0.8144
Epoch 3/10
400/400 [==============================] - 4s 11ms/step - loss: 0.0657 - accuracy: 0.9834 - val_loss: 0.5474 - val_accuracy: 0.8269
Epoch 4/10
400/400 [==============================] - 4s 11ms/step - loss: 0.0276 - accuracy: 0.9948 - val_loss: 0.5748 - val_accuracy: 0.8278
Epoch 5/10
400/400 [==============================] - 4s 11ms/step - loss: 0.0193 - accuracy: 0.9964 - val_loss: 0.6175 - val_accuracy: 0.8238
Epoch 6/10
400/400 [==============================] - 4s 11ms/step - loss: 0.0139 - accuracy: 0.9970 - val_loss: 0.6738 - val_accuracy: 0.8206
Epoch 7/10
400/400 [==============================] - 5s 12ms/step - loss: 0.0133 - accuracy: 0.9967 - val_loss: 0.6871 - val_accuracy: 0.8194
Epoch 8/10
400/400 [==============================] - 4s 11ms/step - loss: 0.0110 - accuracy: 0.9974 - val_loss: 0.7570 - val_accuracy: 0.8191
Epoch 9/10
400/400 [==============================] - 4s 11ms/step - loss: 0.0098 - accuracy: 0.9976 - val_loss: 0.8370 - val_accuracy: 0.8116
Epoch 10/10
400/400 [==============================] - 4s 11ms/step - loss: 0.0099 - accuracy: 0.9975 - val_loss: 0.7449 - val_accuracy: 0.8184

In [43]:
#AŞAĞIDA İNPUT TEXT İLE MODELİMİZİ DENİYORUZ.
input_text = 'It could have been better but at this stage this result is really good'

input_sequence = tokenizer.texts_to_sequences([input_text])
padded_input_sequence = pad_sequences(input_sequence, maxlen=max_length)
prediction = model.predict(padded_input_sequence)
predicted_label = encoder.inverse_transform([np.argmax(prediction[0])])
print(predicted_label)

1/1 [==============================] - 0s 13ms/step
['joy']

BU PROJEDE %99 LUK BİR BAŞARI ELDE ETTİK VE SON SATIRDA KODUMUZU KENDİ YAZDIĞIMIZ BİR TEXT İLE DENEYEREK SONUCUNU GÖRDÜK.